body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(23, 23, 23);
  color: white;
}

#guide-message {
  display: block;
  background-color: #d99821;
  border: 3px dashed #fcd303;
  border-radius: 10px;
  color: black;
  padding: 10px;
  text-align: center;
  width: 80%;
  margin: 10px auto;
}

#guide-message a {
  text-decoration: underline;
  font-weight: bold;
}

#guide-message a:hover {
  color: darkblue;
}

header {
  background-color: rgba(23, 23, 23, 0.8);
  color: white;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1rem;
  max-width: 1000px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  max-width: 1000px;
}

#search-bar {
  width: 20%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #333;
  color: #d3d3d3;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-button {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.header-icon {
  width: 30px;
  height: 30px;
}

#night-mode-toggle {
  cursor: pointer;
  margin-left: 1rem;
}

.separator {
  width: 1px;
  height: 30px;
  background-color: #444;
  margin: 0 1rem;
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(23, 23, 23);
  padding: 5rem 2rem; /* Reduced padding */
}

.homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  background: linear-gradient(to right, rgba(202, 1, 255, 0.5), rgba(23, 23, 23, 0.5));
  background-size: 200% 100%;
  border-radius: 15px;
  animation: gradientSlide 3s ease-out forwards;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.homepage-header .header-text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
}

.homepage-header .homepage-logo {
  width: 150px; /* Reduced logo size */
  height: auto;
  z-index: 2;
  margin-left: 1rem;
}

.homepage-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem; /* Reduced margin-top */
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

#access-library {
  background-color: #d3d3d3;
  color: rgb(23, 23, 23);
  border: none;
  padding: 0.6rem 1.2rem; /* Reduced padding */
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5rem; /* Reduced margin-top */
  transition: box-shadow 0.3s ease;
}

#access-library:hover {
  box-shadow: 0 0 50px 5px #ca01ff;
}


#access-library:hover {
  box-shadow: 0 0 50px 5px #ca01ff;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

.left-panel, .right-panel {
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgba(23, 23, 23, 0.8);
}

.main-panel {
  width: 100%;
  padding: 0.8rem;
}

.left-panel ul, .right-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-panel li, .right-panel li {
  margin-bottom: 0.8rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0 10rem;
}

.footer-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  text-align: right;
}

.footer-links a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.left-panel a {
  color: #d3d3d3;
  font-weight: bold;
}

.left-panel a:hover {
  color: hsl(207, 65%, 68%);
}

.main-panel a {
  color: hsl(207, 65%, 68%);
  font-weight: bold;
}

.main-panel span {
  color: white;
}

body.day-mode {
  background-color: white;
  color: black;
}

.header-logo-img {
  height: 50px; /* Reduce the height for a smaller logo */
  width: auto;  /* Maintain the aspect ratio */
}


body.day-mode header, body.day-mode .main-panel {
  background-color: lightgray;
}

body.day-mode footer {
  background-color: lightgray;
}

body.day-mode .left-panel, body.day-mode .right-panel {
  background-color: gray;
}

body.day-mode .main-panel {
  background-color: lightgray;
}

body.day-mode a {
  color: inherit;
}

.category-title {
  font-size: 2rem;
  color: hsl(207, 65%, 68%);
  margin-bottom: 1rem;
  border-bottom: 2px solid hsl(207, 65%, 68%);
  padding-bottom: 0.5rem;
}

.sub-category-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
  padding-top: 4rem;
}

.item-title {
  font-size: 1rem;
  color: white;
}

/* Responsive Design */
@media (min-width: 600px) {
  .category-card {
    width: calc(33% - 1rem);
  }

  .left-panel, .right-panel {
    width: 20%;
  }

  .main-panel {
    width: 60%;
  }

  .footer-content {
    padding: 0 2rem;
  }

  .footer-links {
    text-align: right;
  }
}

@media (min-width: 900px) {
  .category-card {
    width: calc(22% - 1rem);
  }

  .container {
    flex-direction: row;
  }

  .footer-content {
    padding: 0 10rem;
  }
}
